<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vATRate(); as vATRateRef) {
      <div>
        <h2 data-cy="vATRateDetailsHeading"><span jhiTranslate="blitzAccountApp.vATRate.detail.title">VAT Rate</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ vATRateRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.vATRate.name">Name</span></dt>
          <dd>
            <span>{{ vATRateRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.vATRate.percentage">Percentage</span></dt>
          <dd>
            <span>{{ vATRateRef.percentage }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/vat-rate', vATRateRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
