<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (serviceLog(); as serviceLogRef) {
      <div>
        <h2 data-cy="serviceLogDetailsHeading"><span jhiTranslate="blitzAccountApp.serviceLog.detail.title">Service Log</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ serviceLogRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.vehicleId">Vehicle Id</span></dt>
          <dd>
            <span>{{ serviceLogRef.vehicleId }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.serviceDate">Service Date</span></dt>
          <dd>
            <span>{{ serviceLogRef.serviceDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.description">Description</span></dt>
          <dd>
            <span>{{ serviceLogRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.cost">Cost</span></dt>
          <dd>
            <span>{{ serviceLogRef.cost }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.mileageAtService">Mileage At Service</span></dt>
          <dd>
            <span>{{ serviceLogRef.mileageAtService }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.serviceLog.supplierId">Supplier Id</span></dt>
          <dd>
            <span>{{ serviceLogRef.supplierId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/service-log', serviceLogRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
