<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (quoteLine(); as quoteLineRef) {
      <div>
        <h2 data-cy="quoteLineDetailsHeading"><span jhiTranslate="blitzAccountApp.quoteLine.detail.title">Quote Line</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ quoteLineRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quoteLine.quoteId">Quote Id</span></dt>
          <dd>
            <span>{{ quoteLineRef.quoteId }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quoteLine.productId">Product Id</span></dt>
          <dd>
            <span>{{ quoteLineRef.productId }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quoteLine.quantity">Quantity</span></dt>
          <dd>
            <span>{{ quoteLineRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quoteLine.unitPrice">Unit Price</span></dt>
          <dd>
            <span>{{ quoteLineRef.unitPrice }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quoteLine.vatRateId">Vat Rate Id</span></dt>
          <dd>
            <span>{{ quoteLineRef.vatRateId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/quote-line', quoteLineRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
