<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fleet-trip-location-heading"
        data-cy="FleetTripLocationCreateUpdateHeading"
        jhiTranslate="blitzAccountApp.fleetTripLocation.home.createOrEditLabel"
      >
        Create or edit a Fleet Trip Location
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blitzAccountApp.fleetTripLocation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fleetTripIdRef = editForm.get('fleetTripId')!;
        <div class="mb-3">
          <label class="form-label" for="field_fleetTripId" jhiTranslate="blitzAccountApp.fleetTripLocation.fleetTripId"
            >Fleet Trip Id</label
          >
          <input
            type="number"
            class="form-control"
            name="fleetTripId"
            id="field_fleetTripId"
            data-cy="fleetTripId"
            formControlName="fleetTripId"
          />
          @if (fleetTripIdRef.invalid && (fleetTripIdRef.dirty || fleetTripIdRef.touched)) {
            <div>
              @if (editForm.get('fleetTripId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fleetTripId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="blitzAccountApp.fleetTripLocation.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let latitudeRef = editForm.get('latitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="blitzAccountApp.fleetTripLocation.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
          @if (latitudeRef.invalid && (latitudeRef.dirty || latitudeRef.touched)) {
            <div>
              @if (editForm.get('latitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('latitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let longitudeRef = editForm.get('longitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="blitzAccountApp.fleetTripLocation.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
          @if (longitudeRef.invalid && (longitudeRef.dirty || longitudeRef.touched)) {
            <div>
              @if (editForm.get('longitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('longitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_speed" jhiTranslate="blitzAccountApp.fleetTripLocation.speed">Speed</label>
          <input type="number" class="form-control" name="speed" id="field_speed" data-cy="speed" formControlName="speed" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_heading" jhiTranslate="blitzAccountApp.fleetTripLocation.heading">Heading</label>
          <input type="number" class="form-control" name="heading" id="field_heading" data-cy="heading" formControlName="heading" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
