<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (quote(); as quoteRef) {
      <div>
        <h2 data-cy="quoteDetailsHeading"><span jhiTranslate="blitzAccountApp.quote.detail.title">Quote</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ quoteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.clientName">Client Name</span></dt>
          <dd>
            <span>{{ quoteRef.clientName }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.issueDate">Issue Date</span></dt>
          <dd>
            <span>{{ quoteRef.issueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'blitzAccountApp.DocumentStatus.' + (quoteRef.status ?? 'null')">{{
              { null: '', DRAFT: 'DRAFT', SENT: 'SENT', APPROVED: 'APPROVED', REJECTED: 'REJECTED', PAID: 'PAID' }[
                quoteRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.currencyId">Currency Id</span></dt>
          <dd>
            <span>{{ quoteRef.currencyId }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.vatRateId">Vat Rate Id</span></dt>
          <dd>
            <span>{{ quoteRef.vatRateId }}</span>
          </dd>
          <dt><span jhiTranslate="blitzAccountApp.quote.totalAmount">Total Amount</span></dt>
          <dd>
            <span>{{ quoteRef.totalAmount }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/quote', quoteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
