<div>
  <h2 id="page-heading" data-cy="InvoiceLineHeading">
    <span jhiTranslate="blitzAccountApp.invoiceLine.home.title">Invoice Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blitzAccountApp.invoiceLine.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice-line"
        [routerLink]="['/invoice-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blitzAccountApp.invoiceLine.home.createLabel">Create a new Invoice Line</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (invoiceLines().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blitzAccountApp.invoiceLine.home.notFound">No Invoice Lines found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.invoiceLine.invoiceId">Invoice Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="productId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.invoiceLine.productId">Product Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.invoiceLine.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.invoiceLine.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRateId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.invoiceLine.vatRateId">Vat Rate Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (invoiceLine of invoiceLines(); track trackId(invoiceLine)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/invoice-line', invoiceLine.id, 'view']">{{ invoiceLine.id }}</a>
              </td>
              <td>{{ invoiceLine.invoiceId }}</td>
              <td>{{ invoiceLine.productId }}</td>
              <td>{{ invoiceLine.quantity }}</td>
              <td>{{ invoiceLine.unitPrice }}</td>
              <td>{{ invoiceLine.vatRateId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/invoice-line', invoiceLine.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/invoice-line', invoiceLine.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(invoiceLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (invoiceLines().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
