<div>
  <h2 id="page-heading" data-cy="QuoteLineHeading">
    <span jhiTranslate="blitzAccountApp.quoteLine.home.title">Quote Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blitzAccountApp.quoteLine.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-quote-line"
        [routerLink]="['/quote-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blitzAccountApp.quoteLine.home.createLabel">Create a new Quote Line</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (quoteLines().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blitzAccountApp.quoteLine.home.notFound">No Quote Lines found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quoteId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.quoteLine.quoteId">Quote Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="productId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.quoteLine.productId">Product Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.quoteLine.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.quoteLine.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRateId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.quoteLine.vatRateId">Vat Rate Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (quoteLine of quoteLines(); track trackId(quoteLine)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/quote-line', quoteLine.id, 'view']">{{ quoteLine.id }}</a>
              </td>
              <td>{{ quoteLine.quoteId }}</td>
              <td>{{ quoteLine.productId }}</td>
              <td>{{ quoteLine.quantity }}</td>
              <td>{{ quoteLine.unitPrice }}</td>
              <td>{{ quoteLine.vatRateId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/quote-line', quoteLine.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/quote-line', quoteLine.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(quoteLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (quoteLines().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
