<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicle-heading" data-cy="VehicleCreateUpdateHeading" jhiTranslate="blitzAccountApp.vehicle.home.createOrEditLabel">
        Create or edit a Vehicle
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blitzAccountApp.vehicle.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="blitzAccountApp.vehicle.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let licensePlateRef = editForm.get('licensePlate')!;
        <div class="mb-3">
          <label class="form-label" for="field_licensePlate" jhiTranslate="blitzAccountApp.vehicle.licensePlate">License Plate</label>
          <input
            type="text"
            class="form-control"
            name="licensePlate"
            id="field_licensePlate"
            data-cy="licensePlate"
            formControlName="licensePlate"
          />
          @if (licensePlateRef.invalid && (licensePlateRef.dirty || licensePlateRef.touched)) {
            <div>
              @if (editForm.get('licensePlate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="blitzAccountApp.vehicle.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentMileage" jhiTranslate="blitzAccountApp.vehicle.currentMileage">Current Mileage</label>
          <input
            type="number"
            class="form-control"
            name="currentMileage"
            id="field_currentMileage"
            data-cy="currentMileage"
            formControlName="currentMileage"
          />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="blitzAccountApp.vehicle.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'blitzAccountApp.VehicleStatus.null' | translate }}</option>
            @for (vehicleStatus of vehicleStatusValues; track $index) {
              <option [value]="vehicleStatus">{{ 'blitzAccountApp.VehicleStatus.' + vehicleStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
