@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: #343a40 !important; /* Dark teal navbar */

  a.nav-link {
    font-weight: 400;
    color: #dde1e7; /* link color */
    &:hover {
      color: #101312; /* lighter teal on hover */
    }
  }

  .navbar-version {
    font-size: 0.65em;
    color: #0f0e0e; /* version text color */
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
