<div>
  <h2 id="page-heading" data-cy="ExchangeRateHeading">
    <span jhiTranslate="blitzAccountApp.exchangeRate.home.title">Exchange Rates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blitzAccountApp.exchangeRate.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exchange-rate"
        [routerLink]="['/exchange-rate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blitzAccountApp.exchangeRate.home.createLabel">Create a new Exchange Rate</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (exchangeRates().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blitzAccountApp.exchangeRate.home.notFound">No Exchange Rates found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="baseCurrencyId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.exchangeRate.baseCurrencyId">Base Currency Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="targetCurrencyId">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.exchangeRate.targetCurrencyId">Target Currency Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rate">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.exchangeRate.rate">Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rateDate">
              <div class="d-flex">
                <span jhiTranslate="blitzAccountApp.exchangeRate.rateDate">Rate Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (exchangeRate of exchangeRates(); track trackId(exchangeRate)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/exchange-rate', exchangeRate.id, 'view']">{{ exchangeRate.id }}</a>
              </td>
              <td>{{ exchangeRate.baseCurrencyId }}</td>
              <td>{{ exchangeRate.targetCurrencyId }}</td>
              <td>{{ exchangeRate.rate }}</td>
              <td>{{ exchangeRate.rateDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/exchange-rate', exchangeRate.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/exchange-rate', exchangeRate.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(exchangeRate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (exchangeRates().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
